{% extends 'base.html.twig' %}

{% block title %}New ProgrammLanguage{% endblock %}

{% block body %}
    <h1>Create new ProgrammLanguage</h1>

    {{ include('programm_language/_form.html.twig') }}

    <a href="{{ path('app_programm_language_index') }}">back to list</a>
{% endblock %}
