<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Главная{% endblock %}</title>

    </head>
    <body>

    <a href="/">Главная</a>
    {% if app.request.get('_route') != 'app_login' and app.request.get('_route') != 'app_register' %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <br><br>
            <a href="/employee">Сотрудники</a>
            <br>
            <a href="/position">Все должности</a>
            <br>
            <a href="/employee_position">Должность сотрудников</a>
            <br>
            <a href="/programm_language">Язки программирования сотрудников</a>
            <br><br>
            <a href="/pictures">Фоточки</a>
            <br><br>
            <a href="/logout">Выйти</a><br>
        {% else %}
            <br>
            <a href="/login">Войти</a>
            <a href="/register">Зарегистрироваться</a><br>
        {% endif %}
    {% endif %}

    {% block body %}{% endblock %}
    </body>

</html>
