{% extends 'base.html.twig' %}

{% block title %}New EmployeePosition{% endblock %}

{% block body %}
    <h1>Create new EmployeePosition</h1>

    {{ include('employee_position/_form.html.twig') }}

    <a href="{{ path('app_employee_position_index') }}">back to list</a>
{% endblock %}
